body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: 150px 50px 1fr 80px;
}

header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 /3;
}

nav {
    background: rgb(210, 210, 243);
    grid-column: 1 / 3;
    padding: 1rem;
}

main {
    background: coral;
    grid-column: 1 / 2;
}

.right-sidebar {
    background: yellow;
    grid-column: 2 / 3;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}


.right-sidebar {
    padding: 1rem;
}