body {
    font-family: "roboto";
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(117, 117, 117, 0.232);
    padding: 1rem;
    background-color: rgba(35, 71, 170, 0.258);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    
}

section {
    background-color: whitesmoke;
    padding: 1rem;

}