* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --principal-font-family: "nono sans", sans-serif;
    --second-font: "poppins", serif;
    --principal-color: #142E47;
    --second-color: aliceblue;
    --soft-background-color: #142E470d;
    --hard-background-color: #020507;


}

header {
    background-color: var(--soft-background-color);
}

.banner {
    display: flex;
    gap: 30px;
    background-color: rgba(187, 255, 0, 0.558);
    padding: 15px;
    text-align: center;
}

#bannerButton {
    color: white;
    font-weight: 600;
    font-family: var(--principal-font-family);
    background-color: red;
    padding: 6px;
    border: none;
}

.hidden {
    display: none;
}

#headerBox {
    display: flex;

    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--principal-font-family);
    padding: 15px;
    align-items: center;
    gap: 10px;
}

#boton::before {
    content: "☰";


}

.navlist {
    display: none;
    flex-direction: column;
    /* en large row */
    align-items: center;
    list-style-type: none;
    padding: 15px;
    font-family: var(--second-font);
    background-color: var(--soft-background-color);

}

.navlist a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--hard-background-color);
    font-family: var(--principal-font-family);
}

.navlist.show {
    display: flex;
}


#boton.show::before {
    content: "✖";

}

#boton {
    border: none;
    font-size: 1.5em;

    position: absolute;
    right: 10px;
    top: 70px;
    cursor: pointer;
}

#title {
    text-align: center;
    margin-top: 30px;
    font-family: var(--second-font);
    font-size: 1.6em;
    padding: 10px;

}

.generalDataDiv h2 {
    text-align: center;
    font-family: var(--second-font);
    font-size: 1.1em;
}




nav a:hover {
    width: 100%;
    background-color: var(--principal-color);
    color: var(--second-color);
    font-family: var(--principal-font-family);
}


.heroDiv {
    display: flex;
    flex-direction: column;
    background-color: #142e47;
    align-items: center;
    height: auto;
    padding: 30px;
    gap: 20px
}
nav a.active::before{
    content:"📍";
}

.imgDiv img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.3);
}

.textbtnDiv p {
    display: flex;
    padding: 20px;
    color: var(--second-color);
    font-size: 2rem;
    text-align: center;

}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.buttonDiv a  {
    display: flex;
    padding: 8px;
    font-family: var(--second-font);
    font-weight: 700;
    color: var(--hard-background-color);
    cursor: pointer;
    background-color: rgb(206, 202, 202);
    text-decoration: none;

}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--principal-color);
    font-family: var(--second-font);
    color: white;
    padding: 30px;
    gap: 25px;
    text-align: center;
}

/*design discover html*/
.titlesDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--second-font);
    font-size: 0.8em;
}

#secondSection {
    display: none;
}

#activitiesSection {
    font-family: var(--second-font);
    text-align: center;
    padding-top: 25px;
    margin-top: 50px;
    border-top: 0.2px groove;
}

.sectionsDiv {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    width: 100%;
}

.imagesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 35px;
    margin-top: 15px;
}

.imagesDiv img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.3);
}

.imagesDiv figcaption {
    background-color: var(--principal-color);
    display: flex;
    font-size: 1.5em;
    font-family: var(--principal-font-family);
    padding: 10px;
    color: aliceblue;
    justify-content: center;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.3);
}

.infoDiv {
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.737);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--soft-background-color);
    font-family: var(--principal-font-family);
    text-align: center;
    padding: 25px;

}

.infoDiv h2 {
    color: var(--principal-color);
    background-color: #142e4736;

}

#visitMessage {
    color: var(--principal-color);
    background-color: #142e4736;
}

.generalDataDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

#summaryDiv {
    display: flex;
    flex-direction: column;

}

/*finish css dicover.html*/
/*------- ---- --- ---- ---- ---*/

/*css index.html sections main*/
.section-side {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
}

.sideBar {
    width: 100%;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.737);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    background-color: rgba(47, 0, 255, 0.244);
    font-family: var(--principal-font-family);
    text-align: center;
    padding: 25px;
}

#forecastDiv {
    border-top: 1px solid grey;
    ;
}

#forecastDiv h4 {
    margin-top: 20px;
}


.spotlight {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
    font-family: var(--second-font);

}

.spotlight h1 {

    text-align: center;
    font-family: var(--second-font);
}

.spotlight-item {
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.737);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;

}

.spotlight h2 {
    padding: 10px;
    color: var(--principal-color);
    text-align: center;
}

.spotlight-item p, h5 {
    font-family: var(--principal-font-family);
    font-size: 1em;
    text-align: center;

}

.companyInfo {
    margin: 15px auto;

}

/*-----form design ------*/

.benefitsDiv {
    display: none;
}

#timestamp {
    display: none;
}

.formTitle {
    font-family: var(--principal-font-family);
    text-align: center;
    font-size: 1em;
    padding: 20px;

}


.chForm fieldset {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 400px;
    background-color: rgba(128, 128, 128, 0.163);
    border: none;
    margin: 2% auto;
    margin-top: 20px;
}

.chForm textarea {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    color: var(--principal-color);
    font-family: var(--principal-font-family);
    font-size: 1.1em;


}

.chForm label {
    display: block;
    font-family: var(--principal-font-family);
    color: var(--principal-color);
    font-size: 1.1em;
    padding: 0.5em;
}

.chForm input[type="text"],
.chForm input[type="email"],
.chForm input[type="tel"] {
    display: block;
    width: 100%;
    border: none;
    padding: .70rem;
}

.chForm legend {
    font-family: var(--principal-font-family);
    color: var(--principal-color);
    font-size: 1.1em;
    padding: 0 .5rem;
}

.chForm input[type="radio"] {
    margin-right: 0.5em;
}

.chForm input[type="submit"] {

    border: none;
    border-radius: 3px;
    background-color: var(--principal-color);
    padding: 0.4em;
    color: white;
    width: 60%;
    max-width: 400px;
    margin: 2rem 20% 2rem 20%;
    font-size: 1.3em;
    cursor: pointer;

}

.chForm input:required {
    border-left: 2px solid rgba(255, 0, 0, 0.458);

}

/*----thankyou.html desing ----*/

#confirmationDiv {
    width: 90%;
    padding: 20px;
    margin: 15% auto;
    text-align: center;


}

/*---directory css ----*/

main {
    display: flex;
    flex-direction: column;

}

.optionsView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    height: 55px;
    margin-top: 40px;

}

.buttons {
    cursor: pointer;
    width: 35%;
    border: 2px solid #142E47;
    background-color: #c8c8eb55;
    border-radius: 8px;
    color: black;
    font-weight: 700;




}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;




}

.grid h2 {
    margin-bottom: 20px;
}

.grid p {
    font-size: 1em;
    font-family: var(--second-font);

}

.grid img {
    margin-top: 50px;
}

.grid a:focus {
    color: rgb(255, 34, 0);

}

.grid section {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: auto;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.737);

}


.list section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(209, 217, 238);
    font-size: smaller;
    border: 7px solid white;
    padding: 10px;
    font-family: var(--principal-font-family);


}

.list section img {
    display: none;
    /* smaller viewports only */
}