* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --principal-font-family: "nono sans", sans-serif;
    --second-font: "poppins", serif;
    --principal-color: #142E47;
    --second-color: aliceblue;
    --soft-background-color: #142E470d;
    --hard-background-color: #020507;


}

header {
    display: flex;
    background-color: var(--soft-background-color);
    color: var(--p-color);
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--principal-font-family);
    padding: 15px;
    align-items: center;
    gap: 10px;
}

#boton::before {
    content: "☰";


}

.navlist {
    display: none;
    flex-direction: column;
    /* en large row */
    align-items: center;
    list-style-type: none;
    padding: 15px;
    font-family: var(--second-font);
    background-color: var(--soft-background-color);

}

.navlist a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--hard-background-color);
    font-family: var(--principal-font-family);
}

.navlist.show {
    display: flex;
}


#boton.show::before {
    content: "✖";

}

#boton {
    border: none;
    font-size: 1.5em;
    background-color: none;
    position: absolute;
    right: 10px;
    top: 180px;
    cursor: pointer;
}






.navigation a:hover {
    background-color: var(--principal-color);
    color: var(--second-color);
    font-family: var(--principal-font-family);
}



.hero {
    display: block;
    background-color: #142E47;
    align-items: center;
    height: auto;


}

.hero img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 3px 3px rgba(94, 91, 108, 0.3);
}

.hero p {
    color: var(--second-color);
    font-size: 2rem;
    text-align: center;

}

.hero button {
    margin: 0 auto;
    width: 180px;
    height: 30px;
    color: var(--hard-background-color);
    font-family: var(--principal-font-family);
    font-weight: 700;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--soft-background-color);
    font-family: var(--second-font);
    padding: 30px;
}