@media screen and (min-width: 800px) {

	#headerBox {
		margin: 0 auto;
		width: 50%;

	}

	.navlist {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		background-color: var(--principal-color);
	}

	.navlist a {
		color: white;
		font-size: 1.8em;
	}

	.navlist a:hover {
		color: var(--principal-color);
		background-color: white;
	}


	#boton {
		display: none;
	}

	.heroDiv {
		height: auto;
		background-color: #142e47cf;
		flex-direction: row;

	}

	.imgDiv {
		width: 60%;
		height: 100%;

	}

	.textbtnDiv {
		width: 20%;
	}

	
	
 
	#activitiesSection {
		display: none;
	}

	#secondSection {
		display: contents;
	}

	.subtitles {
		display: grid;
		grid-template-columns: 20% 80%;
		align-items: center;
		margin-top: 30px;

	}

	.titlesDiv {
		font-size: 1.1em;
	}

	.sectionsDiv {

		grid-template-columns: 300px auto;
		gap: 80px;

	}

	.imagesDiv {
		width: 90%;
		height: auto;
		margin-top: 0%;
		display: grid;
		grid-template-columns: 1fr 1fr;

	}

	/* .generalDataDiv h2{
		text-align: center;
		font-family: var(--second-font);
	} */
	.generalDataDiv {
		gap: 90px;
		
	}

}