@media screen and (min-width: 800px) {
	.navlist {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		font-size: 1.4em;
		background-color:#142e4721 ;
		
	}
	#boton {
		display: none;
	}



}