/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header,
    nav,
    main,
    footer {
        max-width: 64rem;
        margin: auto;
    }

    .wf1 input[type="submit"] {
        width: 20%;
        max-width: 400px;
        margin: -1rem 10% 2rem 10%;
    }
        /*----------- BODY --------------*/



        /*----------- HEADER --------------*/



        /*----------- NAVIGATION --------------*/



        /*----------- MAIN --------------*/



        /*----------- FOOTER --------------*/

    }

    /* end of media query */