* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgba(243, 199, 146, 0.437);
    padding: 25px;
    color: rgb(1, 1, 1);
    font-family: "Poltawski+Nowy", serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

img {
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
}

nav {
    margin: 0 auto;
    background-color: rgb(235, 235, 181);
}


nav a {
    display: block;
    text-align: center;
    padding: 0.2rem;
    text-decoration: none;
    font-family: "roboto";
    font-size: 1.8em;
    color: black;

}

nav a:hover {
    background-color: white;
}

h1 {
    color: rgb(61, 38, 12);
    font-family: "roboto", serif;
    text-align: center;
}

main {
    margin: 2rem 4vw;

}

.card {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem 0;
    background-color: rgba(213, 222, 242, 0.423);

}

h2 {
    background-color: rgb(235, 235, 181);
    display: block;
    text-align: center;
    padding: 1rem;
    border-bottom: solid rgb(82, 62, 3);
}

ul,
h3 {
    text-align: center;
    padding: 10px;
    list-style: none;

}

footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.516);
    font-size: 1.5em;
    font-weight: 500;
    


}